

<main class="main">
  <form class="form-handler" >
    <div>
      <input type="text"  name="new-wish-text" [(ngModel)]="wishItemText" placeholder="type your wish here..."/>
    </div>
    <div>
      <button type="submit"  (click)="$event.preventDefault();submitForm()">Add wish</button>
    </div>
  </form>
  <div *ngIf="todoList.length===0;else showItems">
    <p> No items in your todo </p>
   </div>

  <ng-template #showItems>
    <form class="wish-list">
  
      <div *ngFor="let it of todoList;index as ii" >
         {{ ii+1}}-
        <input
         type="checkbox"
         [checked]="it.isCompleted"
         [attr.data-index]="ii"
         (click)="toggleItem(it)"
        />
        {{it.text}} 
    
    
      </div>
    </form>
  </ng-template>

 
  
  
</main>


